<div class='col m7'id='brew_banner'>
  <h4 align='center' class='white-text'>Welcome <%= @user.name %></h4>
</div>
<div class='row center-cols center-align' >
  <div class='col m7'id='brew_banner'>
    <h4 align='center' class='white-text'>Places You Want to Go</h4>
  </div>
</div>
<div id='user-favorites'>

</div>
