<footer class="page-footer">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
               <h6>Privacy Policy: User information won't be disclosed to anyone.</h6>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2014 Copyright Text
         <img src='http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png' height='40px' width='120px' align='right' />

         </div>
       </div>
     </footer>
