<div class='index_banner'>
  <h1>Breweries</h1>
</div>
    <div class="row center-cols center-align" id='brewery_list'>
      <% @breweries.each do |brewery| %>
        <div class="col m5">
          <div class="card" id='brewery_instance'>
            <div class="card-image" id='brewery_image'>
              <img src="<%= brewery.image %>">
            </div>
            <div class="card-content" id='brewery_name'>
              <h5><%= brewery.name %></h5>
            </div>
            <div class="card-action">
              <a href="<%= brewery.website %>" id='brewery_website'>Check out their Website</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
