var BrewerySearchApi = 'http://localhost:3000/api/v1/breweries_search' ;

var printAllBreweries = function(data) {
  $('#search-results').html('');
  for (var i = 0; i < data.length; i++){
    $('#search-results').append('<div class="row center-cols center-align">'
      + '<div class="col m7">'
      + '<div class="card" id="brewery_instance">'
      + '<div class="card-image" id="brewery_image">'
      + '<a href=' + "/breweries/" + data[i].id + '>'
      + '<img src=' + data[i].image + '></a>'
      + '</div>'
      + '<div class="card-content" id="brewery_name" >'
      + '<h5>' + data[i].name + '</h5>'
      + '</div>'
      + '<div class="card-action">'
      + '<a href=' + data[i].website + ' ' + 'id="brewery_website">'
      + "Check out their Website</a>"
      + "</div>" + "</div>" + "</div>" + "</div>");
  }
}

var BrewerySearch = function(){
  return $.ajax({
    url: BrewerySearchApi + '?brewery_city=' + $('input[name=brewery_city]').val(),
    method: 'GET'
  })
  .done(printAllBreweries)
  .fail(function(error) {
    console.error(error)
  });
}

$(document).ready(function(){

  $('button[name=brewery-search]').on('click', BrewerySearch)

  $('form').on('submit', function(event){
    event.preventDefault();
  });

});
