
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #welcome_jumbotron{
    background-color: #ae0001;
  }
  #welcome_card{
    background-color: #740001;
    font-size: 18px;
  }
  #navbar{
    background-color: #eeba30
  }
  #twitter_login_button{
    background-color: #740001
  }
  #twitter_logout_button{
    background-color: #740001
  }
  #flash{
    background-color: #740001;
    align-self: center;
    text-emphasis: bold;
    color: white;
  }
