
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #welcome_jumbotron{
    background-color: #740001;
  }
  #welcome_card{
    background-color: #740001;
    font-size: 18px;
  }
  #navbar{
    background-color: #eeba30;
  }
  #twitter_login_button{
    background-color: #740001
  }
  #twitter_logout_button{
    background-color: #740001
  }
  #flash{
    background-color: #740001;
    align-self: center;
    text-emphasis: bold;
    color: white;
  }

  .card{
    background-color: #740001
  }
  .card-image{
    background-color: #740001;
  }

  .index_banner{
    background-color: #740001;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  .card-image{
    max-height: 100%;
  }
  .center-cols > .col {
    float: none;
    display: inline-block;
    text-align: initial;
  }
  #brewery_show_card{
    background-color: #740001;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    height: 256px;
  }
  #brewery_description{
    align-self: right;
    background-color: #740001;
    height:256px;
  }
  #brewery_p{
    vertical-align: center;
  }
  #brewery-show-row{
    padding-bottom: 0;
  }
  #brewery-location-contact{
    background-color: #740001;
  }
  #next_page{
    background-color: #eeba30;
  }
  #submit_breweries_search{
    background-color: #740001
  }
  #search_link{
    background-color: #740001;
  }
  #search_jumbotron{
    background-color: #ae0001;
  }
  #search_submit{
    background-color: #eeba30;
  }
  #brewery_search_submit{
    background-color: #eeba30;
  }
  #brew_banner{
    background-color: #eeba30
  }
  #breweries_link .a{
    background-color: #740001;
  }
  #previous_page{
    background-color: #740001;
  }
  html {
    font-family: sans-serif;
  }
