<h1>Categories</h1>
  <ul id='category_list'>

    <% @categories.each do |category| %>
      <li id='category_instance'>
        <%= category.id %>: <%= category.name  %>
      </li>
    <% end %>
  </ul>
