<nav id='navbar'>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">BURRP</a>
      <ul class="right hide-on-med-and-down">
        <li><a id='twitter_login_button' class="waves-effect waves-light btn">Login with Twitter</a></li>
      </ul>
    </div>
</nav>
